.page-wrapper {
  background-color: lightgrey;
  display: flex;
  flex-direction: column;
  height: 100%;
  &__content {
    flex: 1;
    display: flex;
    justify-content: center;
    overflow: auto;
  }
  &__inner {
    max-width: 1000px;
    padding: 20px;
    flex: 1;
  }
  &__header {
    flex: none;
  }
}
