.search-page {
  max-width: 1000px;
  min-height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  &__content {
    max-height: 50%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 1rem;
  }
  &__section {
    min-height: 400px;
  }
  &__header {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  &__header-search {
    text-align: center;
    height: 30px;
    width: 100%;
    max-width: 500px;
    padding: 2px 20px;
    font-size: 15px;
  }
}
