<app-page-wrapper>
  <mat-toolbar color="primary">
    <div class="search-page__header">
      <input
        class="search-page__header-search"
        maxlength="3"
        placeholder="Enter ISO Code"
      />
    </div>
  </mat-toolbar>
  <div class="search-page" *ngIf="country$ | async as country">
    <div class="search-page__content">
      <app-country-details-panel
        class="search-page__section"
        [country]="country$ | async"
      ></app-country-details-panel>
      <app-map-panel
        [center]="{ lat: country.latitude, lng: country.longitude }"
      >
      </app-map-panel>
    </div>
  </div>
</app-page-wrapper>
