<app-page-wrapper>
  <mat-toolbar>
    <div class="search-page__header">
      <input
        class="search-page__header-search"
        maxlength="3"
        placeholder="Enter ISO Code"
      />
    </div>
  </mat-toolbar>
  <div class="search-page">
    <div class="search-page__content">
      <app-country-details-panel
        class="search-page__section"
        [country]="country$ | async"
      ></app-country-details-panel>
      <!-- <mat-card class="search-page__section">
        <mat-card-title>
          <h2>Details</h2>
        </mat-card-title>
      </mat-card> -->
      <mat-card class="search-page__section"></mat-card>
    </div>
  </div>
</app-page-wrapper>
