.search-page {
  max-width: 1000px;
  min-height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  &__content {
    max-height: 50%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
  }
  &__section {
    min-height: 400px;
  }
  &__header {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  &__header-search {
    text-align: center;
    height: 30px;
    width: 100%;
    margin: 0 20%;
    padding: 2px 10px;
    font-size: 15px;
  }
}
